@use "../../shared/Styles" as *;
@use "../../shared/Variables" as *;

.sourdoughCalcPage {
    @include flexCenterColumn();
    //width: 100vw;
    width: 50%;
    font-size: 1.5rem;
    gap: .5rem;


    .calculator {
        margin-top: 1rem;


        .infoRow {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }
        .inputs{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .5rem;
        }
    }

    @media (width < $breakpointMobile) {
        padding: 1rem;
        width: 100%;
        margin-top: 4rem;

        .calculator {
            padding-bottom: 20rem;
            align-self: flex-start;

        }

        .inputs {
            input {
                width: 50%;
            }

            #percent, #grams {
                width: 50%;
                text-align: center;
            }
        }

    }
}
