@use "../../shared/Styles" as *;

.sourdoughCalcPage{
    @include flexCenterColumn();

    .calculator{
        .infoRow{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }

        .inputs{
            & > *{
                //border: 1px solid orange;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: .5rem;
            }
        }
    }
}
